.ex-1-square {
    transition: 2s;
}

.ex-1-square:hover {
    background-color: red;
}

.ex-2-square {
    transition: 2s;
}

.ex-2-square:active {
    width: 100%;
}

.ex-3-square {
    transition: 2s;
}

.ex-3-square:hover {
    border-radius: 50%;
}

.ex-4-square {
    transition: 2s;
}

.ex-4-square:hover {
    background-color: rgba(255,0,0,0);
}

.ex-5-square {
    transition: 2s;
}

.ex-5-square:hover {
    transform: scale(2);
}

.ex-5-square:active {
    transform: scale(0.5);
}

.ex-6-img {
    
}

.ex-6-img:hover {
    filter: grayscale(100%);
}

.ex-7-img {
    transition: 2s;
}

.ex-7-img:hover {
    filter: brightness(80%) sepia(80%);
}

.ex-8-img {
    transition: 2s;
}

.ex-8-img:hover {
    border-radius: 10px;
    filter: hue-rotate(10deg);
    filter:sepia(80%);   
}

.ex-9-img {
    transition: 2s;
}

.ex-9-img:hover {
    border-radius: 10px;
    filter: hue-rotate(10deg);
    filter:sepia(80%);  
    transform: scale(150%);     
}

.ex-10-icon {
    animation: giro 2s linear infinite reverse;
}

@keyframes giro {
    0%   {transform: rotate(0);}
    25%  {transform:rotate(90deg);}
    50%  {transform:rotate(180deg);}
    100% {transform:rotate(360deg);}
  }




